.Button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: var(--button-padding);
  color: var(--button-color);
  background-color: var(--button-background-color);
  border: var(--button-border);
  border-radius: var(--button-border-radius);
  transition: background-color 0.3s ease;

  &:hover {
    cursor: pointer;
  }

  &:disabled {
    background-color: #6c757d;
    cursor: not-allowed;
  }
}
